  ErrorDocument 500 http://localhost/MYTHRI-WEB-development/error.php
  ErrorDocument 400 http://localhost/MYTHRI-WEB-development/error.php
  ErrorDocument 404 http://localhost/MYTHRI-WEB-development/error.php
  ErrorDocument 403 http://localhost/MYTHRI-WEB-development/error.php
  ErrorDocument 401 http://localhost/MYTHRI-WEB-development/error.php
  ErrorDocument 307 http://localhost/MYTHRI-WEB-development/error.php
  ErrorDocument 405 http://localhost/MYTHRI-WEB-development/error.php
  ErrorDocument 502 http://localhost/MYTHRI-WEB-development/error.php
  ErrorDocument 504 http://localhost/MYTHRI-WEB-development/error.php
  