.card-box {
    background:#e8e8e8;
    padding:2rem;
    margin-top:5px;
    overflow-y:hidden;
    overflow-x:hidden;
    position: relative;
    transition: box-shadow 0.3s;
}
.card-box:hover{
    box-shadow: 2px 2px 10px 2px #e8e8e8;
    transition: box-shadow 0.3s;
    overflow-y:auto;
}

.img-card{
    background:#e8e8e8;
    position: relative;
    transition: box-shadow 0.3s;
}

.fixThisHeading {
    position: sticky;
    top: 0;
    z-index:1;
    background-color: #e8e8e8;
}

/*.customTable {*/
/*    overflow-y:auto;*/
/*}*/
/*.customTable:hover {*/
/*    ;*/
/*}*/