.text {
  padding: -1 20px 20px;


}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
    padding: 7px 10px;
    text-decoration: none;
    margin-top: -12px;
}


.pagination a:hover:not(.active)
 {background-color:white;}


 .progressbar {
  background-color:lightgrey;
  width: 240px;
  border-radius:0px;
  height: 8px;
  margin-bottom: 20px;
  /* (height of inner div) / 2 + padding */
  padding: 2px;
}

.progressbarx{
  background-color: orange;
  width: 50%;
  /* Adjust with JavaScript */
  height: 8px;
  border-radius: 0px;
  margin-top: -2px
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #ffffff;
    border-radius: 4px;
}


ul.breadcrumb {
  padding: 5px 30px;
  list-style: none;
  background-color:white;
}
ul.breadcrumb li {
  display: inline;
  font-size: 20px;
}
ul.breadcrumb li+li:before {
  padding: 5px;
  color: black;
  content: "";
}
ul.breadcrumb li a {
  color: grey;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: black;
  text-decoration: underline;
}
 .ol{
    padding-left: 190px;
    margin-left: 1px;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

ul.breadcrumb li a {color: grey;}
/*margin*/
p.ex1 {
  margin-top: 250px;}
/*.te-fluid {
    padding-right: 15px;
    padding-left: 15px;
    
    margin-left: 30px;
}*/
.container-fluid {
    padding-right: 15px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px; 
}


.dropbtn {
  background-color:rgba(211,211,211,54%);
  color: black;
  /* padding: 10px; */
  /* width:200px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}



/*.dropbtn {
  background-color:lightgrey;
  color: black;
  padding: 16px;
  width:280px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}*/