@font-face {
    font-family: defaultBarlow;
    src: url(fonts/barlow/Barlow-Regular.ttf);
    font-weight: bold;
  }
@font-face{
    font-family: defaultBarlowBold;
    src: url(fonts/barlow/Barlow-SemiBold.ttf);
    font-weight: bold;
}