@font-face {
    font-family: defaultBarlow;
    src: url(fonts/barlow/Barlow-Regular.ttf);
    font-weight: bold;
  }
@font-face{
    font-family: defaultBarlowBold;
    src: url(fonts/barlow/Barlow-SemiBold.ttf);
    font-weight: bold;
}
@font-face{
    font-family: defaultBarlowBoldX;
    src: url(fonts/barlow/Barlow-Bold.ttf);
    font-weight: bold;
}

.header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 20;
}

.spnBreadCrumbs{
    color: #00000061;
    font-size: .8rem initial;
    font-family: defaultBarlowBold !important;
    text-decoration: none;
  }
.spnBreadCrumbs :hover{
    color: #00000099 !important;
}

.item1 {
    grid-area: myArea;
    background: transparent;
  }
  
  .grid-container {
    display: grid;
    grid-template-areas: 'myArea myArea myArea myArea myArea myArea myArea';
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
    
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .footerBack{
      background: black;
      height: 55%;
  }
  .n {
    color: #808080;
    width: 1165px;
    height: 0px;
}

.col-lg-1 {
    width: 13.333333%;
}

.full {
    width: 100%;
}

.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.footer {
    background: black;
    height: 57%;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

.footer p {
    margin: 0;
}

.footer img {
    max-width: 100%;
}
a:hover{
    text-decoration: none;
    color: #DDDDDD;
}

.footer h3 {
    border-bottom: 1px solid #000000;
    color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0px 10px 0px;
    text-transform: uppercase;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: -19px;
    color: #7F8C8D;
}

.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}

.footer a {
    color: white;
}


.social li {

    float: left;
    line-height: 36px;
    padding: 5px;
    text-align: center;
    width: 36px;
    height: 36px;
    ;
    margin: auto;
}

#events{
    /* margin-left: 50px; */
    text-align: center;
}

#more{
    margin-left: 10px;
}

#imagepanel{
    margin-left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagefooter{
    top: 55px;
    margin-left: 28px
}

.image-container{
    background: url(../images/transparent.jpg)  no-repeat center ; 
    /* background: rgba(0,0,0,0.1); */
    background-size: cover;
    position: relative;
    height: 100%;
}
.image-container:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #ffffffd8
}
.word-container{
    color: #00000099; 
    padding: 10px 20px; 
    line-height: 35px; 
    position: relative;
    
    
}

@media (max-width:1200px) {
  #events{

      margin-left: 0px;
  }

  #imagepanel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    }

  #more{
    margin-left: 0px;   
    }
#imagefooter{
        top: 55px;
        margin-left: 0px
    }
}

@media (max-width:990px) {
    #more > ul{
        text-align: center;  
    }
    #init > ul{
        text-align: center;  
    }
    #imagefooter{
        position: absolute; 
        top: 0px;
    }
    #footer{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #containerfooter{
        display: flex;
        justify-content: center;
    }
    .image-container{
        margin-top: 25px;
    }
    .btn{
        margin-right: 10px;
    }
}

@media (max-width:450px) {

    #imagefooter{
        visibility: hidden;
    }
}

